

.headingfont {
	/**

this one is ok, kinda thin tho
font-family: 'Poiret One', cursive;



font-family: 'Muli', sans-serif;



font-family: 'Pacifico', cursive;






**/


font-family: 'Coming Soon', cursive;



}

.other {



}